* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  list-style: none;
}

.btn-orange {
  background: var(--orange);
  color: #fff;
  outline: none;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
  border: none;
  cursor: pointer;
}

.btn-blue {
  background: var(--blue);
  color: #fff;
  outline: none;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
  border: none;
  cursor: pointer;
}

.btn-green {
  background: var(--green);
  color: #fff;
  outline: none;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
  border: none;
  cursor: pointer;
}

.header_btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.se_btn {
  width: 150px;
  height: 50px;
  border-radius: 100px;
  font-size: 1.8rem;
  margin-left: 20px;
}

.second-block button:first-child {
  margin-right: 25px;
}

.logo_pc{
  display: block;
}

.logo_m{
  display: none;
}

/* var(--xxx)寫要繼承的變數 例子 */
.text-orange {
  color: var(--orange);
}
.bg-orange {
  background: var(--orange);
}
.bg-white {
  background: #fff;
}

.disable {
  background: var(--grayBg);
  color: var(--grayText);
}

.disable_g {
  background: #fff;
  color: var(--green);
}

/* 測試用區塊 */
.form-control {
  width: 100px;
}

/* layout */
.header {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
  position: relative;
  z-index: 10;
  height: 100px;
}

.content {
  background-color: #f4f4f4;
  position: relative;
}

.Homeimg {
  text-align: center;
  margin: 3% 0 1%;
}

.Homeimg > h1 {
  font-size: 3rem;
  display: block;
  margin: 2% 0 0 0;
  padding: 0;
}

.Homeimg > p {
  font-size: 1.12rem;
  margin: 0;
}

/*--車站--*/
#app main article.car-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 2.5%;
  left: 1.5%;
  z-index: 10;
}

.Homeselect,
.Homecar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Homeselect select {
  padding: 15px 0px;
  text-align: center;
  color: #a4a4a4;
  border: none;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
  border-radius: 5px;
  width: 100%;
  outline: none;
  margin-bottom: 5%;
  min-width: 300px;
}

.Homecar span {
  display: inline-block;
  margin-top: 5%;
}

.map_content{
  width: 100%;
  height: calc(100vh - 160px);
  overflow: hidden;
}

.map_content::after{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}

.HomeCurrentStation{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f7ce3ed9;
  z-index: 10;
  justify-content: center;
  padding: 0.8% 0;
  align-items: center;
}

.HomeCurrentStation > .StationName{
  margin-right: 1%;
}

.HomeCurrentStation > .StationNum{
  display: flex;
  align-items: center;
}

.HomeCurrentStation > div.StationNum > hr{
  width: 100%;
  border: 1px solid #fff;
  transform: rotate(90deg);
  padding: 0 8%;
}

.HomeCurrentStation > div.StationNum > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HomeCurrentStation .number {
  font-weight: bold;
  font-size: 3rem;
}

.HomeCurrentStation h2{
  font-size: 2.25rem;
  margin: 0 0 1% 0;
}

.HomeCurrentStation h4{
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

h5{
  margin: 0;
}

#app > main > article.map_content > img{
  max-width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_pc {
  background: #c4c4c4;
  height: 60px;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  position: relative;
  transform: translateY(0px);
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3%;
}

.footer_pc svg {
  vertical-align: middle;
}

.footer_m{
  display: none;
}

.GPS {
  position: fixed;
  right: 30px;
  bottom: 175px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 260px;
  justify-content: flex-end;
  z-index: 999;
}

.GPS article:first-child {
  text-align: right;
  display: block;
  margin-right: 3%;
}

.GPS_circle {
  width: 100px;
  height: 100px;
  background: #f7911e;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}


/* overwrite leaftlet style */
.leaflet-pane {
  z-index: 0 !important;
}


/* map custom marker */
.dialogBox{
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
  line-height: 50px;
}
.dialogBox::after{
  content:"";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 20px;
  bottom: -10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid white;
}

.dialogBox.empty{
  background-color: #c4c4c4;

}
.dialogBox.empty::after{
  border-top: 12px solid #c4c4c4;
}

.dialogBox.rare{
  background-color: #ee675c ;
}
.dialogBox.rare::after{
  border-top: 12px solid #ee675c ;
}

.dialogBox.enough{
  background-color: #a9c027;
}
.dialogBox.enough::after{
  border-top: 12px solid #a9c027;
}

@media screen and (max-width:710px) {
  .header{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 0;
    height: 170px;
  }

  #app > header > nav{
    width: 90%;
    margin: 0 auto;
  }

  .header_btn{
    width: 45%;
  }

  .second-block button:first-child{
    margin-right: 5%;
  }

  #app main article.car-nav {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 360px);
    top: 0;
    left: 0;
}

  .Homeselect{
    width: 80%;
    margin-top: 3%;
  }

  .Homecar{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
  }

  .Homecar .car-btns{
    display: flex;
    flex-direction: column;
  }

  .Homecar .car-btns > button{
    height: 25%;
    width: 85%;
  }

  .Homecar .car-btns > button:first-child{
    margin-bottom: 8%;
  }

  .logo_pc{
    display: none;
  }

  .logo_m{
    display: block;
    margin-bottom: 30px;
  }

  .map_content {
    width: 100%;
    height: calc(100vh - 230px);
    overflow: hidden;
  }

  .HomeCurrentStation{
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
  }

  .HomeCurrentStation > .StationName {
    margin-right: 0;
    text-align: center;
    margin-top: 2%;
  }

  .HomeCurrentStation h4 {
    display: none;
  }

  .HomeCurrentStation > div.StationNum > div {
    flex-direction: column;
  }

  .HomeCurrentStation > div.StationNum > hr{
    padding: 0 16%;
  }

  .GPS{
    bottom: 225px;
  }

  .footer_pc{
    display: none;
  }

  .footer_m{
    display: block;
    text-align: center;
    margin-top: 2%;
  }

}
